.list {
  &__items {
    width: 700px;
    padding: 10px;
    border: solid 1px black;
  }

  table, th, td {
    border: 1px solid black;
  }

  &__sort-btn {
    cursor: pointer;
  }

  &__empty {
    text-align: center;
  }
}

.add-form {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: solid 1px black;

  input {
    border: solid 1px black;
  }

  &__btns {
    button:first-child {
      margin-right: 10px;
    }
  }
}